body {

  margin: 0px;
  padding: 0px;
  /* background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover; */

}

#snowstart {
  width:100%;
  height:100%;
  position: absolute;
  pointer-events: none;
}

.snow {
  background-image: url('../img/snow3.png'), url('../img/snow2.png');
  animation: snow 20s linear infinite;
  content: "";
  transform: rotate(-deg);
}
@keyframes snow{
  100% {
    background-position: 0 700px, 0 1000px;
  }
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #1f1e22;
  width: 100vw;
}

.nav__block {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  font-family: 'montserrat-bold';
  font-size: 24px;
}
.logo-text {
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.logo-text > span {
  margin-left: 5px;
  font-family: 'montserrat-thinitalic';
}

.nav-ul {
  display: flex;
  list-style-type: none;
  width: 800px;
  justify-content: space-between;
  font-size: 20px;
}

.nav-li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-line {
  width: 70px;
  height: 2px;
  border-radius: 3px;
  background-color: white;
}

.social {
  font-size: 30px;
}





.main {
  width: 100%;
}

.main__land {
  display: grid;
  justify-content: center;
  background: url(../img/Frame5.svg) no-repeat;
  background-color: rgba(0, 0, 0, .6);
  background-size: cover;
  height: 1080px;
}
.main__land-img {
  grid-area: 1/1;
  width: 100vw;
}
.main__land-block {
  grid-area: 1/1;
  width: 1600px;
}
.main__land-text {
  margin-top: 200px;
}
.main__land-text-title {
  color: rgb(217, 176, 255);
  text-shadow: 0 5px 30px rgb(217, 176, 255);
  font-size: 40px;
  font-family: 'montserrat-bold';
}
.main__land-text-desc {
  margin-top: 20px;
  margin-bottom: 200px;
  color: #a3a3a3;
}
.main__land-text-btn {
  --glow-color: rgb(217, 176, 255); 
  --glow-spread-color:rgba(191, 123, 255, 0.781);
  --enhanced-glow-color:rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color); 
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 25px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color), 
  		0 0 4em 1em var(--glow-spread-color),
  		inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color); 
  position: relative;
  transition: all 0.3s;
}
.main__land-text-btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1. 0.6);

}
.main__land-text-btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}
.main__land-text-btn:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}


.main__start {
  font-family: 'montserrat-bold';
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #1f1e22;
  height: 100px;
}

.main__download {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main__download-block {
  margin-top: 200px;
  width: 1600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__download-map {
  display: flex;
  margin-bottom: 100px;
}
.main__download-map-block {
  display: flex;
  align-items: center;
}
.main__download-map span {
  
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  font-family: 'montserrat-thin';
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
}
.main__download p {
  margin-left: 10px;
  width: 300px;
}
.main__line {
  margin-top: 200px;
  background-color: white;
  height: 1px;
  width: 100vw;
}
.main__updates {
  margin-top: 100px;
  display: flex;
  width: 100vw;
  justify-content: center;
}
.main__updates-title {
  margin-top: 50px;
  width: 100vw;
  text-align: center;
  font-family: 'montserrat-bold';
  font-size: 30px;
}
.main__updates-block {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.main__update {
  overflow: hidden;
  width: 300px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
}
.main__update-text {
  padding: 10px;
}
.main__update-img {
  width: 300px;
}
.main__update-desc {
  font-size: 16px;
  margin-top: 20px;
}




.footer {
  padding: 20px;
  justify-content: center;
}
.footer__block {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  width: 100px;
}
.footer__right-block {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}